// Fonts
$baseFont: "SF UI Display";
$systemFont: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Ubuntu", "Cantarell", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$baseFontSize: 13px;

// Colors
$black: #222222;
$white: #ffffff;

$body-bg: $white;

// Grid
$xxs: 355;
$xs: 576;
$sm: 768;
$mdd: 992;
$md: 1024;
$lg: 1200;
$lgg: 1366;
$xl: 1440;
$xxl: 1920;

// Sizes
$headerHeight: 60px;
$headerHeightMobile: 60px;
